aws/twilo-weather-notifications/__pycache__
aws/twilo-weather-notifications/.ipynb_checkpoints
aws/twilo-weather-notifications/Mensajes_Twilio+-+Template.ipynb
aws/twilo-weather-notifications/twilio_config.py
aws/twilo-weather-notifications/resources/*.pem